@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-barlow: var(--font-barlow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar-button{
  scrollbar-color: #0C0E1A;
  scrollbar-width: 2px;
}

h1{
  font-size: 48px;
  font-weight: 700;
}

h2{
  font-size: 32px;
  font-weight: 600;
}

h3{
  font-size: 24px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow);
}

.content-tiles{
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
  grid-auto-flow: dense;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}
