@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-barlow: var(--font-barlow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track-piece{
	background-color: #0a0a0a;
}

::-webkit-scrollbar-thumb{
	background-color: #f1aa1ce5;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #F1AA1C;
}

h1{
  font-size: 48px;
  font-weight: 700;
}

h2{
  font-size: 32px;
  font-weight: 600;
}

h3{
  font-size: 24px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow);
}

.content-tiles{
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
  grid-auto-flow: dense;
  max-width: 1000px;
}

.primary-btn{
  background-color: #F1AA1C;
  color:#0C0E1A;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px;
  transition: 100ms ease-out;
}

.primary-btn:hover{
  cursor: pointer;
  outline: #F1AA1C 2px solid;
  outline-offset: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
